<a href="https://colab.research.google.com/github/diegoarriola1/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df['b2br'] = df['bedrooms'] / df['bathrooms']

In [0]:
df['perks'] = df.iloc[:,10:-2].sum(axis=1)

In [109]:
# convert created to datetime
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
df.sample(5)

       bathrooms  bedrooms  ... b2br perks
49151        1.0         3  ...  3.0     2
16219        1.0         1  ...  1.0     3
33724        1.0         3  ...  3.0     3
10951        2.0         4  ...  2.0     7
5744         2.0         2  ...  1.0     7

[5 rows x 36 columns]

In [110]:
df['created'].dt.month.value_counts()

6    16973
4    16217
5    15627
Name: created, dtype: int64

In [111]:
train = df[df.created.dt.month <6]
test = df[df.created.dt.month ==6]
train.shape, test.shape

((31844, 36), (16973, 36))

In [112]:
cutoff = pd.to_datetime('2016-06-01')
train = df[df.created < cutoff]
test  = df[df.created >= cutoff]
train.shape, test.shape

((31844, 36), (16973, 36))

In [113]:
df = df.set_index('created')
train = df[:'2016-05'].reset_index()
test  = df['2016-06':].reset_index()
df = df.reset_index()
train.shape, test.shape

((31844, 36), (16973, 36))

In [0]:
train['bedrooms'] = train['bedrooms'].replace(0, train['bedrooms'].mean())
test['bedrooms'] = test['bedrooms'].replace(0, train['bedrooms'].mean())

In [115]:
# first feature engineering bed to bathroom ratio
df['b2br'] = df['bedrooms'] / df['bathrooms']
df.head()

              created  bathrooms  bedrooms  ... common_outdoor_space b2br  perks
0 2016-06-24 07:54:24        1.5         3  ...                    0  2.0      0
1 2016-06-12 12:19:27        1.0         2  ...                    0  2.0      5
2 2016-04-17 03:26:41        1.0         1  ...                    0  1.0      3
3 2016-04-18 02:22:02        1.0         1  ...                    0  1.0      2
4 2016-04-28 01:32:41        1.0         4  ...                    0  4.0      1

[5 rows x 36 columns]

In [116]:
# second feature engineered total number of perks
df['perks'] = df.iloc[:,10:-2].sum(axis=1)
df.head()

              created  bathrooms  bedrooms  ... common_outdoor_space b2br  perks
0 2016-06-24 07:54:24        1.5         3  ...                    0  2.0      0
1 2016-06-12 12:19:27        1.0         2  ...                    0  2.0      5
2 2016-04-17 03:26:41        1.0         1  ...                    0  1.0      3
3 2016-04-18 02:22:02        1.0         1  ...                    0  1.0      2
4 2016-04-28 01:32:41        1.0         4  ...                    0  4.0      1

[5 rows x 36 columns]

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_train = train['price']
y_test = test['price']
y_pred_train = [y_train.mean()] * len(y_train)
y_pred_test = [y_train.mean()] * len(y_test)

In [0]:
model = LinearRegression()

In [119]:
train.head()

              created  bathrooms  bedrooms  ... common_outdoor_space b2br  perks
0 2016-04-17 03:26:41        1.0       1.0  ...                    0  1.0      3
1 2016-04-18 02:22:02        1.0       1.0  ...                    0  1.0      2
2 2016-04-28 01:32:41        1.0       4.0  ...                    0  4.0      1
3 2016-04-19 04:24:47        2.0       4.0  ...                    0  2.0      0
4 2016-04-27 03:19:56        1.0       2.0  ...                    0  2.0      3

[5 rows x 36 columns]

In [0]:
features = ['bedrooms', 'perks']
X_train = train[features]
X_train

In [0]:
X_test = test[features]
X_test

In [122]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
y_pred_train = model.predict(X_train)
mean_absolute_error(y_pred_train, y_train)

988.9536826090739

In [124]:
y_pred = model.predict(X_test)
mean_absolute_error(y_pred, y_test)

1036.4907242561258

In [0]:
features = ['bedrooms', 'perks', 'bathrooms']
X_train = train[features]
X_test = test[features]

In [126]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [127]:
y_pred_train = model.predict(X_train)
mean_absolute_error(y_pred_train, y_train)

838.3918509982209

In [128]:
y_pred = model.predict(X_test)
mean_absolute_error(y_pred, y_test)

851.9264904535905

In [130]:
print(f'Linear Regression with {len(features)} features')
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Linear Regression with 3 features
Intercept 37.49375397738504
bedrooms      379.774582
perks          77.940719
bathrooms    2060.566760

In [129]:
print('Train Root Mean Squared Error:', np.sqrt(mean_squared_error(y_train, y_pred_train)))
print('Test Root Mean Square Error:', np.sqrt(mean_squared_error(y_test, y_pred_test)))
print('Train Mean Absolute Error:', mean_absolute_error(y_train, y_pred_train))
print('Test Mean Absolute Error:', mean_absolute_error(y_test, y_pred_test))
print('Train R^2 Score:', r2_score(y_train, y_pred_train))
print('Test R^2 Score:', r2_score(y_test, y_pred_test))

Train Root Mean Squared Error: 1230.924238195253
Test Root Mean Square Error: 1762.9952880399528
Train Mean Absolute Error: 838.3918509982209
Test Mean Absolute Error: 1197.7088871089013
Train R^2 Score: 0.5120255360495292
Test R^2 Score: -4.218690517676649e-05